
<%- include('../partials/admin/header'); %>
<%- include('../partials/admin/navbar'); %>
<%- include('../partials/admin/sidenav'); %>
this is the contact page


  
      </div>
    </main>
  </div>
</div>







 



        <script src="/js/dashboard.js"></script></body>
        <%- include('../partials/footer'); %>
</html>