		

			<p style="text-align: center; font-family: 'Abel', sans-serif;left:0;bottom:0;width:100%;color:blue"> this is the made by me </p>
			
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/about.js"></script>

	</body>
</html>