<!DOCTYPE html>
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
			<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
	
		
		


		</head>
	<body>
<% if(!currentUser) {%>
	
		<div style="text-align: right; font-family: 'Raleway', sans-serif;" >
				<a href = "/page/users/signup_page" >Singup </a>
				<a href = "/page/users/login" style="margin:30px" > Login</a>
		</div>
<% } else{ %>
	<div style="text-align: right; font-family: 'Raleway', sans-serif;" >
		
		<a href = "/page/users/dashboard_pagee" class = "btn btn-primary">profile</a>
		<a href = "/users/users/logout" class = "btn btn-primary">logout</a>
	<div style="text-align: right; font-family: 'Raleway', sans-serif;" >
<% } %>


<div class = "container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="/users/">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item active">
	        <a class="nav-link" href="/users/users/about_page">About <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="/page/users/contact_page">Contact</a>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          search
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">House</a>
	          <a class="dropdown-item" href="#">office</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Shop</a>
	        </div>
	      </li>
	      
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</nav>
</div>

