<%- include('./partials/header'); %>



<% if(currentUser.role === 'admin') {%>
	<p>users <a href = "/users/users" class = "btn btn-primary">get all users </p>
		
			
<% } else{ %>
	<p> welcome jonathan </p>	
	<%= currentUser.role %>

<% } %>
	
	

<%- include('./partials/footer'); %>

