<%- include('../../partials/assets/form'); %>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Owner Register
      </h1>
        

      <form action="/landlord/landlord/register" method="POST">

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="name"
            id="name"
            name="first_name"
            class="form-control"
            placeholder="Enter Name"
            
          />
        </div>

        <div class="form-group">
          <label for="name">LastName</label>
          <input
            type="name"
            id="name"
            name="last_name"
            class="form-control"
            placeholder="Enter Name lastname"
            
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
            
          />
        </div>

        <div class="form-group">
          <label for="phone number">phone number</label>
          <input
            type="tel"
            id="tel"
            name="phone_number"
            class="form-control"
            placeholder="Enter phone number"
         
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            placeholder="Create Password"
          
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
            type="password"
            id="password2"
            name="password2"
            class="form-control"
            placeholder="Confirm Password"
          
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/landlord/landlord/login">Login</a></p>
    </div>
  </div>
</div>